@page "/flights"
<h3>Find a Flight</h3>

<EditForm>
    <div class="flight">
        <label for="from">Leaving From</label>
        <input type="date" class="form-control" id="from" aria-describedby="emailHelp">
    </div>
    <div class="flight">
        <label for="from">Leaving From</label>
        <input type="email" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
    </div>

</EditForm>

This is our page displaying flights.
@code {

}
