.mainPage {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#findReservationSection {
    padding: 5px;
    text-align: center;
    width: 250px;
    height: 300px;
}

#displayReservationSection {
    padding: 5px;
    text-align: center;
    width: 250px;
    height: 200px;
}

#reserveSection {
    padding: 5px;
    text-align: center;
    width: 250px;
    height: 600px;
}

h3 {
    text-align: center;
}

#leaving_from {
    width: 220px;
}

#going_to {
    width: 220px;
}

#day {
    width: 220px;
}

section div select, #displayBox {
    width: 220px;
}
